<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>controller.EditUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>controller.UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOrderServlet</servlet-name>
        <servlet-class>controller.ListOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessOrder</servlet-name>
        <servlet-class>controller.ProcessOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/edituser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/updateuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOrderServlet</servlet-name>
        <url-pattern>/listorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessOrder</servlet-name>
        <url-pattern>/updateOrder</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
